@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Heebo&display=swap');



body{
font-family: 'Catamaran', sans-serif;
	font-size: 15px;
	color: #777;
}
header{
	position: relative;
	background-color: #282932;
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}
footer{
	background-color: #282932;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: #f7b614;
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}

#hero{
	
	background-color: #282932;
		
}

#hero .title {
	
	color: #f7b614;
	text-transform: capitalize;
	font-size: 60px;
	font-weight: 800;
	padding-top: 20%;
}

#hero .title-2 {
	
	color: #f7b614;
	text-transform: capitalize;
	font-size: 60px;
	font-weight: 700;
	margin-top: -5%;
	
}

#hero .info{
	
	color: white;
}

.btn-general{
	
	color: #000;
	background-color: #f7b614;
	border-radius: 20%;
	padding: 2% 6%;
	margin-left: 37%;
}

#sitathome{
	
	background-color: #282932;
}


#sitathome .title {
	
	text-align:center;
	color: #f7b614;
	text-transform: capitalize;
	font-size: 40px;
	font-weight: 900;
	padding-top: 20%;
}

#sitathome .title-2 {
	
	text-align:center;
	color: #f7b614;
	text-transform: capitalize;
	font-size: 40px;
	font-weight: 700;
	margin-top: -5%;
	
}


#sitathome .info{
	
	
}

.space{
	padding-bottom: 10%;
}

.btn-sit{
	
	margin-left: 40%;
}

.center{
	
	padding-left: 30%;
}
#sitathome .info{
	
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	
}

#sitathome .info2{
	
	color: white;
	font-size: 18px;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	
}

#contact-form{
	
	background-color: #f7b614;
}

#contact-form .title{
	
	color: #000000;
	font-size: 25px;
	font-weight: 800;

}


#contact-form .subtitle{
	
	color: white;
	font-size: 15px;
	padding-top: 15%;
}

.btn-sit{
		
	
	background-color: #000;
	border-radius: 20%;
	padding: 2% 12%;
	color: white;

}

.space-top1{
	
	margin-top: 11%;
}

.space-top{
	
	margin-top: 40%;
}



